@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Neuton:700');

body {
  background: image_url('ep_naturalwhite.png');
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px; 
  padding: 20px;
}
.navbar {
  background: image_url('mosaic.png');
  box-shadow: 20px 20px 50px 15px #c0c0c0;
}

a.nav-link {
  font-size: 18px;
  color: #5772C1;
}

.navbar-inverse .navbar-brand {
  color: #C1A657;
  font-family: 'Neuton', serif;
  font-size: 26px;
}

.digg_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; 
  }
.digg_pagination a, .digg_pagination span {
  padding: 0.2em 0.3em;
  }
.digg_pagination .disabled {
  color: #aaaaaa; 
  }
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
  }
.digg_pagination a {
  text-decoration: none;
  color: black; 
  }
.digg_pagination a:hover, .digg_pagination a:focus {
  text-decoration: underline; 
  }

.edit-btn {
  text-align: right;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
      height: 300px;
    }

.clear {
  clear: both;
}