
<div class="booyah-box col-10 offset-1">
  <h1><%= @places.name %></h1>
  <br />
  <i><%= @places.address %></i>
  <br />
  <br />
  <p><%= @places.description %></p>
  <br />
  <div class="edit-btn">
    <%= link_to 'Edit', edit_place_path(@places), class: 'btn btn-primary' %>
  </div>
</div>
 